In [331]:
import pandas as pd

In [333]:
df = pd.read_excel("Online Retail Data Set.xlsx")

In [334]:
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom

In [337]:
df.shape

(541909, 8)

In [339]:
cond2 = df['Quantity'] >= 1

In [341]:
cleaned_df = df[cond2]

In [343]:
cond1 = cleaned_df['UnitPrice'] >= 0.00

In [345]:
cleaned_df = cleaned_df[cond1]

In [347]:
cleaned_df.shape

(531283, 8)

In [349]:
cleaned_df['Revenue'] = cleaned_df['UnitPrice'] * cleaned_df['Quantity']

In [357]:
cleaned_df['CustomerID'].isnull().sum()

133359

In [359]:
cleaned_df['CustomerID'] = cleaned_df['CustomerID'].fillna('Unknown')

In [361]:
cleaned_df['CustomerID'].isnull().sum()

0

In [363]:
cleaned_df.to_excel('output.xlsx',index=False)

In [364]:
from IPython.display import FileLink
FileLink('output.xlsx')

/Users/pradyumnakapi/Documents/Visuals_forage/output.xlsx